
.map-page {
  height: 100vh;
  width: 100%;
  position: relative;
}

.map-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure header is above map */
  padding: 15px;
  background-color: var(--background-light);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.map-logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--pjf-primary);
  text-decoration: none;
}

.fab {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 1000; /* Ensure FAB is above map */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--pjf-primary);
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: background-color 0.2s;
}

.fab:hover {
  background-color: var(--pjf-primary-darker);
}

.filter-control {
    position: absolute;
    top: 80px;
    right: 10px;
    z-index: 1000; /* Ensure it's above the map */
    width: 200px;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.marker-pin {
    width: 20px;
    height: 20px;
    border-radius: 50% 50% 50% 0;
    background: #c30b0b;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
}
.marker-pin::after {
    content: '';
    width: 14px;
    height: 14px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
}

/* Move Leaflet zoom controls down */
.leaflet-top.leaflet-left {
    top: 80px;
}
